body{
    background-image: url('./photo/backau4.jpg');
    background-size: cover;
    color: white;
}
.ipbrand{
    border: 8px whitesmoke
    outset;
}
.ipusers{
    border: 8px whitesmoke
    outset;
}
.ipdetail{
    border: 8px whitesmoke
    outset;
}
.ip{
    border: 3px whitesmoke
    outset;
}

@font-face {
    font-family: fip;
    src: url(./font/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: fip2;
    src: url(./font/AmcapEternal-xK95.ttf);
}
@font-face {
    font-family: fip3;
    src: url(./font/AvengeroRegular-zvgl.ttf);
    
}
.ipusers{
    font-family: 'fip2',sans-serif;
}
.ipbrand{
    font-family: 'fip2',sans-serif;
}
.text-brand{
    font-family: 'fip3',sans-serif;
    font-size: 30px;
    font-weight: bold;
    
}